header{
  /* display: flex; */
  background-color:#353535 ;
  color:aliceblue
}
header article h1{
    text-align: center;
    padding: 30px 0px;
    font-size: 32px;
    font-family: "Roboto";
}

header article ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    list-style: none;
    font-family: "Roboto";
}
header article ul li a{
    text-decoration: none;
}

header article ul li a:hover{
    color:#ededed
}

#article_ul{
    background-color: #4f4f4f;
}
#section_main{
    display: flex;
    margin:20px 190px;
    justify-content: center;
    gap:40px;
    flex-wrap:wrap;
}
#section_main article{
    display: flex;
    background-color: #ededed;
    align-items: center;
    flex-direction: column;
    width: 320px;
    text-align: center;
    padding: 15px 20px;
    gap: 10px;
    border-radius: 2px;
    border-color:#C0C0C0;
    border-style:  solid;
    border-width: 1px;
    padding-bottom: 25px;
    
}

#section_main article p{

    font-family: "Open sans";
    color:#4f4f4f

}
#section_main article img{
    width:200px;
    height:199px;
}
#section_main article .cell{
    font-family: "Open sans";
    color:black;
    font-weight: 500;
    font-size:2rem;

}
#section_main article h2{
    font-family: "Open sans";
}
#section_main article button{
    border:none;
    background-color: #353535;
    font-family: "Open sans";
    color:white;
    padding: 10px 15px;
    cursor: pointer;
}
#section_main article button:active{
    background-color: #282828;
    color:#ededed
}